.navbar_user img {
  width: 280px;
  object-fit: cover;
}
.tab {
  width: 100%;
  height: 100%;
  display: none;
  transition: opacity 0.5s ease-in-out;
}

.tab.active {
  display: block;
  opacity: 1;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tabs li {
  width: 200px;
  margin: 0 25px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.tab-button {
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.tab-button.active {
  border-bottom: 2px solid #041434;
  color: black;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.tab-button:hover {
  border-bottom: 2px solid #041434;
  color: black;
}

/* Thêm các lớp biểu tượng (icon) của Boxicons vào .bx để tạo biểu tượng */
.iconuser {
  font-size: 20px;
  margin-right: 5px;
  color: #041434;
}

/*thong tin ca nhan*/
.info_wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.info_left {
  position: relative;
  top: 0;
  left: 0;
  height: calc(100vh - 102px);
  width: 100%;
  opacity: 0;
  animation-name: leftImage;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 0.3s;
}
.info_left video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info_left h3 {
  position: absolute;
  top: 25px;
  left: 25px;
}

.info_right {
  height: calc(100vh - 102px);
  width: 100%;
  opacity: 0;
  animation-name: leftAnimation;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  animation-delay: 0.6s;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.info_right form {
  display: flex;
  align-items: center;
  width: 900px;
  flex-wrap: wrap;
  margin-left: 160px;
}
/**radio button */

.sex_wrapper {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sex_wrapper p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}
.sex_input {
  display: flex;
  align-items: center;
}
.sex_item {
  display: flex;
  align-items: center;
  margin-right: 30px;
  height: 36px;
}

/*thoi khoa biẻu*/
/* CSS cho bảng */
.timetable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.timetable th,
.timetable td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.timetable th {
  background-color: #f2f2f2;
}

.timetable td {
  background-color: #fff;
}

/* CSS cho các ô lịch học */
.timetable td {
  position: relative;
}

.timetable td::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 128, 255, 0.2); /* Màu nền cho ô lịch học */
  border: 2px solid #0080ff; /* Viền cho ô lịch học */
}
