@import url("https://fonts.googleapis.com/css2?family=Playfair:wght@300&display=swap");
@import "../style/components/animation.css";
@import "../style//components/style.css";
@import "../style/components/table.css";
@import "../style/components/dropdown.css";
@import "../style/components/input.css";
@import "../style/components/button.css";
@font-face {
  font-family: misa-roboto;
  src: url("../assets/font/Roboto-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* :root{
    primary_color: 
} */

body {
  /* font-family: misa-roboto; */
  font-family: "Playfair", serif;
}
#app {
  min-height: 100vh;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
span,
p {
  user-select: none;
}
li {
  list-style: none;
  cursor: pointer;
}
input,
button {
  outline: none;
  cursor: pointer;
}
input::placeholder {
  font-family: "Playfair", serif;
}
i {
  cursor: pointer;
}
button,
input {
  font-family: "Playfair", serif;
}
label {
  cursor: pointer;
  user-select: none;
}
button {
  border: none;
}
.w-50 {
  width: 50px;
}
.w-150 {
  width: 150px;
}
.w-350 {
  width: 350px;
}
.w-315 {
  width: 315px;
}
.w_full {
  width: 100%;
}
.h_full {
  height: 100%;
}
.w-456 {
  width: 456px;
}
.w-250 {
  width: 250px;
}
.w-280 {
  width: 280px;
}
.w-140 {
  width: 140px;
}
.w-300 {
  width: 300px;
}
.w-200 {
  width: 200px;
}
.w-100 {
  width: 100px;
}
.w-90 {
  width: 90px;
}
.mr-6 {
  margin-right: 6px;
}
.mr-8 {
  margin-right: 8px;
}
.mt-8 {
  margin-top: 8px;
}
.mb-8 {
  margin-bottom: 12px;
}

.mg-bot {
  margin-bottom: 10px;
}
.page_content {
  background-color: #f8fafc;
  width: 100%;
  height: calc(100vh - 60px);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 20px 24px 48px 24px;
}
.d-flex {
  display: flex;
}
