@import url("https://fonts.googleapis.com/css2?family=Playfair:wght@300&display=swap");
@import "../style/components/animation.css";
@import "../style//components/style.css";
@import "../style/components/table.css";
@import "../style/components/dropdown.css";
@import "../style/components/input.css";
@import "../style/components/button.css";
@font-face {
  font-family: misa-roboto;
  src: url("../assets/font/Roboto-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* :root{
    primary_color: 
} */

body {
  /* font-family: misa-roboto; */
  font-family: "Playfair", serif;
}
#app {
  min-height: 100vh;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
h1,
h2,
h3,
h4,
span,
p {
  user-select: none;
}
li {
  list-style: none;
  cursor: pointer;
}
input,
button {
  outline: none;
  cursor: pointer;
}
input::placeholder {
  font-family: "Playfair", serif;
}
i {
  cursor: pointer;
}
button,
input {
  font-family: "Playfair", serif;
}
label {
  cursor: pointer;
  user-select: none;
}
button {
  border: none;
}
.w-50 {
  width: 50px;
}
.w-150 {
  width: 150px;
}
.w-350 {
  width: 350px;
}
.w-315 {
  width: 315px;
}
.w_full {
  width: 100%;
}
.h_full {
  height: 100%;
}
.w-456 {
  width: 456px;
}
.w-250 {
  width: 250px;
}
.w-280 {
  width: 280px;
}
.w-140 {
  width: 140px;
}
.w-300 {
  width: 300px;
}
.w-200 {
  width: 200px;
}
.w-100 {
  width: 100px;
}
.w-90 {
  width: 90px;
}
.mr-6 {
  margin-right: 6px;
}
.mr-8 {
  margin-right: 8px;
}
.mt-8 {
  margin-top: 8px;
}
.mb-8 {
  margin-bottom: 12px;
}

.mg-bot {
  margin-bottom: 10px;
}
.page_content {
  background-color: #f8fafc;
  width: 100%;
  height: calc(100vh - 60px);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 20px 24px 48px 24px;
}
.d-flex {
  display: flex;
}

.notify_error {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-in;
  z-index: 100;
}
.notify_error ul li {
  height: 32px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
.notify_error ul li i {
  font-size: 28px;
  color: #ff9800;
  margin-right: 10px;
}
.error_wrapper {
  width: 400px;
  height: auto;
  padding: 24px;
  border-radius: 4px;
  background-color: white;
  animation: aniTrans 0.5s linear;
}
.error_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}
.error_text h1 {
  font-size: 20px;
  font-weight: 700;
  color: #1f1f1f;
}
.error_text i {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}
.error_btn {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 24px;
}
.error_btn button {
  height: 36px;
  width: 80px;
  border-radius: 4px;
  color: white;
  background-color: #50b83c;
  font-size: 14px;
  font-weight: 500;
}
.click_none {
  pointer-events: none;
  opacity: 0.6;
}
.dl-none {
  display: none;
}
